/* src/components/Header.css */
.app-header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
.logo {
    width: 100px; 
    height: auto;
  }
  
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    margin-left: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  